#btnArea{
    float: left;
    padding-right: 20%;
}


.jumbotron{
    position: relative;
    /* min-height: 300px; */
    /* padding-bottom: 30%; */
    height: auto;
    width: auto;
    background-image: url("https://media.giphy.com/media/fxe4NnQh6aoMoh5p99/giphy.gif"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

jumbotron: ::before{ 
    opacity: 0.2;
}
            
#userInput{
    /* float: right;  */
    position: absolute;
    right: 30px;
    top: 210px;
}

#display-gifs{
    text-align: center; 
} 